<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Administrativa</title>
    <link rel="stylesheet" href="css/adm.css">
</head>
<body>

    <h1> Área administrativa</h1>


    
    <table>
  <caption>Comentários</caption>
  <thead>
    <tr>
      <th>Comentário</th>
      <th>Quem fez</th>
     
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <% comentarios.forEach(function(comentario) { %>
      <tr>
        <td><%= comentario.texto %></td>
         <td><%= comentario.nome %></td>
        <td>
         
             <button onclick=<%=" window.location='/excluir?id="+ comentario.id+"'" %> class="
                                material-symbols-outlined delete">
                                Excluir
                            </button>
          </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>

<a href="/" class="voltar">Voltar à página inicial</a>

    
</body>
</html>